.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
}

form > input {
  margin-right: 2em;
  font-size: 2em;
  padding: 0.5em;
}

form {
  margin: 1em 0;
}

li {
  margin: 1.2em;
  box-shadow: 0 0 3px 1px;
  padding: 1em;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  position: relative;
}

ul {
  list-style: none;
  width: fit-content;
  margin: 0 auto;
  text-align: initial;
}
label {
  margin-left: 0.5em;
}
button.delete {
  border-radius: 20%;
  padding: 1em;
  background-color: grey;
  color: #fff;
  align-self: flex-start;
  position: absolute;
  top: 0;
  right: 0;
}
